.Wrapper {
  display: flex;
}

.labelWrap {
  text-align: center;
}

.label {
  margin-right: 5px;
}

.select {
  background: var(--bg-color);
  outline: none;
  color: var(--primary-color);
  padding: 2px 10px 2px 2px;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
}

.option {
  color: var(--inverted-primary-color);
  background: var(--bg-color);
}

.validateError {
  border: 1px solid var(--red-color);
}

.column {
  flex-direction: column;
}

.Wrapper.center {
  width: 100%;
  position: relative;
  height: 25px;
}

.select.center {
  position: absolute;
  left: 50%;
}

.labelWrap.center {
  position: absolute;
  right: 50%;
}
