.MainLayout {
  display: grid;
  grid-template: 3fr 1fr / auto minmax(800px, 1200px) auto;
  grid-template-areas:
    'leftbar content rightbar'
    'logbar logbar logbar';
  height: 100vh;
}

.leftbar {
  grid-area: leftbar;
  min-width: 200px;
}

.rightbar {
  grid-area: rightbar;
  min-width: 270px;
  background: var(--bg-color);
}

.logbar {
  grid-area: logbar;
  background: var(--bg-color);
}

.content {
  grid-area: content;
  background: var(--bg-color);
}
