.MainLayout {
  display: grid;
  height: 100vh;
}

.compr {
  grid-template: 30px 3fr 30px 1fr / auto minmax(800px, 1200px) auto;
  grid-template-areas:
    'leftbar state rightbar'
    'leftbar content rightbar'
    'logbar logbar logbar'
    'log log log';
}

.expandedLog {
  grid-template: 30px 30px auto / auto;
  grid-template-areas:
    'state'
    'logbar'
    'log';
}

.leftbar {
  grid-area: leftbar;
  min-width: 200px;
  background: var(--bg-color);
}

.rightbar {
  grid-area: rightbar;
  min-width: 270px;
  background: var(--bg-color);
}

.logbar {
  grid-area: logbar;
  background: var(--bg-color);
}

.log {
  grid-area: log;
  background: var(--bg-color);
  overflow: auto;
}

.content {
  grid-area: content;
  background: var(--bg-color);
  overflow: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.state {
  grid-area: state;
  background: var(--bg-color);
}
