.Icon {
}

.primary {
  fill: var(--primary-color);
  color: var(--primary-color);
  stroke: var(--primary-color);
}

.error {
  fill: var(--red-color);
  color: var(--red-color);
  stroke: var(--red-color);
}

.success {
  fill: var(--green-color);
  color: var(--green-color);
  stroke: var(--green-color);
}

.button {
  background-color: transparent;
  border: none;
}

.button:hover {
  cursor: pointer;
}

.button:hover .Icon {
  fill: var(--hover-color);
  color: var(--hover-color);
  stroke: var(--hover-color);
  scale: 1.2;
  cursor: pointer;
}

.Icon:active {
  scale: 1;
}

.inverted {
  fill: var(--inverted-primary-color);
  color: var(--inverted-primary-color);
}
