.Icon {
}

.primary {
  fill: var(--primary-color);
  color: var(--primary-color);
  stroke: var(--primary-color);
}

.error {
  fill: var(--red-color);
  color: var(--red-color);
  stroke: var(--red-color);
}

.success {
  fill: var(--green-color);
  color: var(--green-color);
  stroke: var(--green-color);
}

.button {
  background-color: transparent;
  border: none;
  height: 24px;
}

.button:hover {
  cursor: pointer;
}

.button:hover .Icon {
  scale: 1.2;
  cursor: pointer;
}

.button:active .Icon {
  opacity: 0.8;
}

.inverted {
  fill: var(--inverted-primary-color);
  color: var(--inverted-primary-color);
  stroke: var(--inverted-primary-color);
}
