.Discrete {
  border-radius: 8px;
  width: 30px;
  text-align: center;
  font-weight: bold;
  border: 1px solid var(--green-color);
}

.editable {
  cursor: pointer;
}

.off {
  border: 1px solid var(--primary-color);
}
