.primary {
  color: var(--primary-color);
}

.error {
  color: var(--red-color);
}

.success {
  color: var(--green-color);
}

.second {
  color: var(--second-color);
}

.inverted {
  color: var(--inverted-primary-color);
}

.inverted_bright {
  color: var(--inverted-primary-color);
}

.bright {
  color: var(--primary-color);
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

.size_s {
  font: var(--font-s);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline var(--primary-color);
}
